<h1> Login </h1>

<div>
    <a href="/api/sessions/githublogin"> Loguearse con Github </a>
</div>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="Email" name="email">
        <br />
        <input type="password" placeholder="Password" name="password">
        <br />
        <button type="submit"> Login </button>
    </form>

</div>